<p-sidebar [(visible)]="sidebarVisible">
	<app-filters></app-filters>
</p-sidebar>
<div class="h-full mx-auto max-w-7xl border-x">
	<div class="flex h-[100%] divide-x divide-solid">
		<div class="flex items-start h-full max-w-md">
			<app-filters (showCategory)="onShowCategory($event)"></app-filters>
		</div>
		<div class="w-full p-5">
			<app-products-header
				(columnsCountChange)="onColumnCountChange($event)"
			></app-products-header>
			<div class="grid w-full mt-2" style="display: flex">
				<div
					[class]="'col-' + colsGridSystem"
					[style.height.px]="rowHeight"
					class="h-full"
				>
					<app-product-box
						[fullWidthMode]="cols === 1"
						(addToCart)="onAddToCart($event)"
					></app-product-box>
				</div>
			</div>
		</div>
	</div>
</div>
